body{
    font-family: "Futura";
    font-size: 21px;
    line-height: 1.5;

    padding: 0;
    margin: 0;
    background-color: #fafafa;
}

/* Global */
.container{
    width: 80%;
    height: 100%;
    margin: auto;
    overflow: hidden;
}

.column_triple{
    float: left;
    width: 33%;
}

.column_double{
    float: left;
    width: 50%;
}

.column_double_store{
    float: left;
    width: 50%;
}

.left{
    
}

.right{
    
}

.center{
    text-align: center;
}

header ul{
    margin: 0;
    padding: 0;
}

/* Header */
header{
    font-family: "HelveticaLight";
    background: rgba(0,0,0,0.8);
    color: #ffffff;
    padding-top: 5px;
    min-height: 20px;
    border-bottom: #3498db 3px solid;
    position: fixed;
    width: 100%;
}

header a{
    color: #ffffff;
    text-decoration: none;
    /*text-transform: uppercase;*/
    font-size: 14px;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: #3498db;
    /*font-weight: bold;*/
}

header a:hover{
    color: #3498db;
    /*font-weight: bold;*/
}

/* Showcase */
#showcase{
    height: 750px;
    background: url('../img/banner.jpg') no-repeat 0 -50px;
    background-size: 125% 150%;
    text-align: center;
    color: #000000;
}

#showcase h1{
    font-size: 55px;
    margin-top: 300px;
}

#showcase p{
    font-size: 20px;
}

#break{
    padding: 8px;
    color: #ffffff;
    background: #ffffff;
}

#break h1{
    float: left;
    height: 12px;
}

#overview{
    text-align: center;
    padding: 50px;
}

#stats{
    text-align: center;
    padding: 50px; 
}

#list{
    text-align: left;
    padding: 50px;
}

footer{
    padding: 20px;
    margin-top: 20px;
    font-size: 12px;
    color: #000000;
    background-color: #f5f5f5;
    text-align: center;
}