body{
    font-family: "Futura";
    font-size: 21px;
    line-height: 1.5;

    padding: 0;
    margin: 0;
    background-color: #fafafa;
}

/* Fonts */
@font-face {
    font-family: "Futura";
    src: url("../fonts/FuturaLT.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica";
    src: url("../fonts/HelveticaLTStd-Roman.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HelveticaLight";
    src: url("../fonts/HelveticaLTStd-Light.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Playfair";
    src: url("../fonts/PlayfairDisplay-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Din";
    src: url("../fonts/DINRegular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Global */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

input[type=text], input[type=password]{
    font-family: "Futura";
    padding: 10px 0px;
    padding-left: 7px;
    box-shadow: inset 0 2px 5px #f2f2f2;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 20px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 20px;
    height: auto;
    line-height: 5px;
    text-align: left;
}

input[type=text]:hover, input[type=password]:hover, input[type=text]:focus, input[type=password]:focus{
    box-shadow: inset 0 2px 5px #808080;
    border-color: #000000;
}

.column_triple{
    float: left;
    width: 33%;
}

.column_double{
    float: left;
    width: 50%;
}

.column_double_store{
    float: left;
    width: 50%;
}

.button_bordered, input[type=submit]{
    padding: 15px 35px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0);
    border: 2px solid #000000;
    text-align: center;
    text-decoration: none;
    color: #000000;
}

input[type=submit]{
    cursor: pointer;
    font-family: "Futura";
    font-size: 21px;
    line-height: 10px;
}

.left{
    
}

.right{
    
}

.center{
    text-align: center;
}

header ul{
    margin: 0;
    padding: 0;
}

/* Header */
header{
    font-family: "HelveticaLight";
    background: rgba(0,0,0,0.8);
    color: #ffffff;
    padding-top: 5px;
    min-height: 20px;
    border-bottom: #3498db 3px solid;
    position: fixed;
    width: 100%;
}

header a{
    color: #ffffff;
    text-decoration: none;
    /*text-transform: uppercase;*/
    font-size: 14px;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: #3498db;
    /*font-weight: bold;*/
}

header a:hover{
    color: #3498db;
    /*font-weight: bold;*/
}

header a.button_bordered{
    border-color: #3498db;
}

header a.button_bordered:hover{
    background: #3498db;
    color: #ffffff;
}

header a.current{
    color: #3498db;
}

/* Showcase */
#showcase{
    min-height: 600px;
    background: url('../img/banner.jpg') no-repeat 0 -50px;
    background-size: 100%;
    text-align: center;
    color: #000000;
}

#showcase h1{
    margin-top: 200px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 20px;
}

#break{
    padding: 8px;
    color: #ffffff;
    background: #ffffff;
}

#break h1{
    float: left;
    height: 12px;
}

#overview{
    text-align: center;
    padding: 50px;
}

#signin{
    text-align: center;
    padding: 50px
}

#stats{
    text-align: center;
    padding: 50px; 
}

#list{
    text-align: left;
    padding: 50px;
}

footer{
    padding: 20px;
    margin-top: 20px;
    font-size: 12px;
    color: #000000;
    background-color: #f5f5f5;
    text-align: center;
}